$barva-pozadi: blue;
//TODO: presunout vse do resources
body {
    background-color: $barva-pozadi;

    main#detail {
        display: block;

        .karta {
            padding: 0;
            text-align: center;
            max-width: 350px;
            margin: auto;

            h2 {
                font-size: 2rem;
            }

            img {
                filter: none;
            }
        }


    }
}
