$barva-pozadi: Gray;

body {
    background-color: $barva-pozadi;

    main#detail {
        display: block;

        .karta {
            padding: 0;
            text-align: center;
            max-width: 350px;
            margin: auto;

            h2 {
                font-size: 2rem;
            }

            img {
                filter: none;
            }

            .typy {
                span {
                    padding: 5px;
                    color: White;
                }
            }
        }


    }

    .inner {
        max-width: 1000px;
        margin: auto;
        display: flex;
        justify-content: end;
        background: rgba(107, 93, 93, 0.726);
        padding: 10px 0;
        gap: 15px;
        color: white;
        font-weight: bold;
    }
}
